<% layout('../layout/layout.ejs') -%>

<h1><%- i18n('nav.doc') -%></h1>

<div class="row">
	<div class="col-md-4">
	  <h2><%- i18n('nav.doc.donate.title') -%></h2>
	  <%- i18n('nav.doc.donate') -%>
	  
	</div>
	
	<div class="col-md-4">
	  <h2><%- i18n('nav.doc.wiki.title') -%></h2>
	  <%- i18n('nav.doc.wiki') -%>
	</div>
	
	<div class="col-md-4">
	  <h2><%- i18n('nav.doc.site.title') -%></h2>
	  <%- i18n('nav.doc.site') -%>
	</div>
</div>
<p>&nbsp;</p>
<div class="row">
	<div class="col-md-4">
	  <h2><%- i18n('nav.doc.ideas.title') -%></h2>
	  <%- i18n('nav.doc.ideas') -%>
	</div>
	
	<div class="col-md-4">
	  <h2><%- i18n('nav.doc.bugs.title') -%></h2>
	  <%- i18n('nav.doc.bugs') -%>
	</div>
	<div class="col-md-4">
	  <h2><%- i18n('nav.doc.help.title') -%></h2>
	  <%- i18n('nav.doc.help') -%>
	</div>
</div>

<h1><%- i18n('nav.doc.thanks.title') -%></h1>
<p class='OpenSansLight'><%- i18n('nav.doc.thanks') -%></p>

<p class='OpenSansLight'>Jérôme Veyret (R&D), Aymeric dMdV (Doc), Baptiste Marienval (Android), Julien Delnatte (iOS), Olivier BURGARD (C#), Guillaume Calfati & Laurent O (Veille) ...</p>

<div class="row">
  <div class="col-md-3">
    <ul class='list-unstyled'>
      <li>Pascal  Adatte            </li>
			<li>Bruno Guillemet           </li>
			<li>Olivier Carreno           </li>
			<li>Samir Semai               </li>
			<li>Guettaf Berrah            </li>
      <li>Marc Braudel              </li>
      <li>Steve Bonfort             </li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul class='list-unstyled'>
			<li>Jeremy Tadla              </li>
			<li>Sylvain Chauffaille       </li>
			<li>Stéphane Olivier          </li>
			<li>Alexandre Lauzier         </li>
			<li>Yannick Darlavoix         </li>
			<li>Sylvain Ledoyen           </li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul class='list-unstyled'>
			<li>Anne-marie Girard         </li>
			<li>Fabien Vincent            </li>
			<li>Olivier Dupont            </li>
			<li>Weiss-Desmarais Production</li>
			<li>Franck Wehrlé             </li>
			<li>Pierre-jean Guyot         </li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul class='list-unstyled'>
			<li>Julien Cruau              </li>
			<li>Julien Lemare             </li>
			<li>Baptiste Marienval        </li>
			<li>Ariege Creation           </li>
			<li>Asefsaf Prorexem          </li>
			<li>Damien gee                </li>
    </ul>
  </div>
</div>












