<% layout('../layout/page.ejs') -%>

<div id="login">
	<h2 style="padding: 0 20px;"><%- i18n('portal.login') -%></h2>
	
	<form class="form-horizontal" method="POST" action="/login" role="form" accept-charset="UTF-8" enctype="multipart/form-data">
		<div class="form-group">
		  <label class="col-md-3 control-label"><%= i18n('portal.id') %></label>
		  <div class="col-md-8">
		    <input class="form-control" type="text" name="username" value="" placeholder="<%- i18n('portal.id.placeholder') -%>">
		  </div>
		</div>
		<div class="form-group">
		  <label class="col-md-3 control-label"><%= i18n('portal.password') %></label>
		  <div class="col-md-8">
		    <input class="form-control" type="password" name="password" value="" placeholder="<%- i18n('portal.password.placeholder') -%>">
		  </div>
		</div>
		<div class="form-group">
		  <label class="col-md-3 control-label">&nbsp;</label>
		  <div class="col-md-8">
		    <button type="submit" class="btn btn-primary"><%- i18n('portal.login') -%></button>
		  </div>
		</div>
	</form>
</div>

<% stylesheet('/sarah/less/login.css') %>