<% var id = plugin.name; var cfg = plugin.config; %>
<div id="<%- id -%>" data-grid-x="<%- cfg.x || 1 -%>" data-grid-y="<%- cfg.y || 1 -%>" class="portlet <%- cfg.c || '' %> ajax-body grid-w<%- cfg.w || 1 -%> grid-h<%- cfg.h || 1 -%>">
  <div class="portlet-header">
    <h3><%- i18n(id) -%></h3>
  </div>
    
  <div class="portlet-body">
    <%- partial(plugin.template, {'plugin': plugin }) -%>
  </div>
  
  <div class="portlet-footer dropup">
    <%- partial('../plugin/config-menu.ejs', {'plugin': plugin }) -%>
    <span class='info hide'><%- i18n('portlet.loading') -%></span>
  </div>
</div>