<div class="form-group">
  <label class="col-md-3 control-label"><%- i18n(label) -%></label>
  <div class="col-md-8">
    <% if (value === undefined){ value=''; } %>
    <% if (typeof value === 'boolean'){ %>
    <label class="radio-inline"><input type="radio" name="<%- name -%>" value="true"  <%-  value ? 'checked="checked"' : '' -%>><%- i18n('field.true') -%></label>
    <label class="radio-inline"><input type="radio" name="<%- name -%>" value="false" <%- !value ? 'checked="checked"' : '' -%>><%- i18n('field.false') -%></label>
    <% } else if (typeof value === 'number') {  %>
    <input class="form-control" type="number" step="any" name="<%- name -%>" value="<%= value %>">
    <% } else { %>
    <input class="form-control" type="text" name="<%- name -%>" value="<%= value %>" placeholder="<%- i18n('field.placeholder') -%>">
    <% } %>
  </div>
</div>