<div class="form-group">
  <label class="col-md-<%- field.vertical ? 12 : 3 -%> control-label"><%- i18n(field.label) -%></label>
  <div class="col-md-<%- field.vertical ? 12 : 8 -%>">
    <% if (field.value === undefined){ field.value=''; } %>
    <% if (typeof field.value === 'boolean'){ %>
    <label class="radio-inline"><input type="radio" name="<%- field.name -%>" value="true"  <%-  field.value ? 'checked="checked"' : '' -%>><%- i18n('field.true') -%></label>
    <label class="radio-inline"><input type="radio" name="<%- field.name -%>" value="false" <%- !field.value ? 'checked="checked"' : '' -%>><%- i18n('field.false') -%></label>
    <% } else if (typeof field.value === 'number') {  %>
    <input class="form-control" type="number" step="any" name="<%- field.name -%>" value="<%= field.value %>">
    <% } else if (field.value._isAMomentObject) {  %>
    <div class='input-group date' data-field-date="<%- field.value.format('YYYY-MM-DD') -%>">
      <input type='text' class="form-control" name="<%- field.name -%>" data-date-format="YYYY-MM-DD" />
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
    <% } else if (field.values) {  %>
    <select class="form-control" name="<%- field.name -%>" >
      <% for (var i = 0 ; i < field.values.length; i++){ %>
      <option value="<%- field.values[i] -%>" <%- field.values[i] == field.value ? 'selected' : '' -%>><%- i18n(field.labels[i]) -%></option>
      <% } %>
    </select>
    <% } else if (field.type == 'keyword') {  %>
    <input type="text" class="form-control tokenfield" name="<%- field.name -%>" value="<%- field.value -%>" data-keywords="<%- field.keywords -%>"/>
    <% } else if (field.type == 'textarea') {  %>
    <textarea name="<%- field.name -%>" class="form-control" rows="<%- (field.rows || 4) -%>"><%- field.value -%></textarea>
    <% } else { %>
    <input class="form-control" type="text" name="<%- field.name -%>" value="<%= field.value %>" placeholder="<%- i18n('field.placeholder') -%>">
    <% } %>
  </div>
</div>
