<% layout('../layout/layout.ejs') -%>
<% stylesheet('/sarah/less/store.css') %>
<% script('/sarah/js/store.js') %>

<div id="store">

  <h1><%- i18n('nav.store') -%></h1>
  
  <div class="alert alert-success" role="alert"><%- i18n('store.alert.restart') -%></div>
  
	<ul class="nav nav-tabs" role="tablist" id="store_list">
	  <li class="active"><a href="#installed" role="tab" data-toggle="tab"><%- i18n('store.installed') -%></a></li>
	  <li><a href="#marketplace" role="tab" data-toggle="tab"><%- i18n('store.marketplace') -%></a></li>
	  <li><a href="#github" role="tab" data-toggle="tab"><%- i18n('store.github') -%></a></li>
	  <li><a href="#new" role="tab" data-toggle="tab"><%- i18n('store.new') -%></a></li>
	  
	  <li class="pull-right">
	    <form action="/portal/store" method="get">
	      <input type="text" name="search" class="form-control" placeholder="<%- i18n("store.search") -%>" value="<%- req.query.search || '' -%>"/>
	    </form>
	  </li>
	</ul>
	
	<div class="tab-content">
	  
	  <!-- TAB INSTALLED PLUGIN -->
	  <% var plugins = SARAH.PluginManager.getCache(); %>
	  <div class="tab-pane active" id="installed">
      <table class="table table-bordered table-hover table-striped">
      <tr>
        <th><%- i18n('store.plugin.name') -%></th>
        <th><%- i18n('store.plugin.version') -%></th>
        <th>&nbsp;</th>
        <th><%- i18n('store.plugin.description') -%></th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
      <% for(var i in plugins){ %>
      <% var plugin = plugins[i]; %>
      <% var market = marketplace[plugin.name]; %>
      <tr class="<%- plugin.isDisabled() ? 'text-strikethrough' : '' -%>">
        <td class="text-capital"><strong><%- plugin.name -%></strong></td>
        <td class="text-center fit"><%- plugin.config.version -%> <%- market ? ' / '+ market.v : '' -%></td>
        <td class="text-center fit"><%- partial('../plugin/config-menu.ejs', {'plugin': plugins[i] }) -%></td>
        <td><%- plugin.config.description -%></td>
        <td class="text-center fit">
          <% if (plugin.script){ %>
          <form action='/plugin/config/<%- plugin.name -%>' method='post'>
            <% if (plugin.isDisabled()){ %>
            <button type="submit" class="btn btn-default" name="modules.disabled" value="false"><%- i18n("store.plugin.enable") -%></button>
            <% } else {%>
            <button type="submit" class="btn btn-default" name="modules.disabled" value="true"><%- i18n("store.plugin.disable") -%></button>
            <% } %>
          </form>
          <% } %>
        </td>
        <td class="fit">
          <% if (plugin.script){ %>
          <form action='/portal/store' method='post' role="form" accept-charset="UTF-8" enctype="multipart/form-data">
            <button type="submit" class="btn btn-danger confirm" name="opDelete" value="<%- plugin.name -%>"><%- i18n("store.plugin.delete") -%></button>
          </form>
          <% } %>
        </td>
      </tr>
      <% } %>
      </table>
    </div>
      
    <!-- TAB MARKETPLACE --> 
	  <div class="tab-pane" id="marketplace">
	  <div class="alert alert-danger" role="alert"><%- i18n('store.alert.marketplace') -%></div>
	  
	  <table class="table table-bordered table-hover table-striped">
      <tr>
        <th>&nbsp;</th>
        <th><%- i18n('store.plugin.name') -%></th>
        <th><%- i18n('store.plugin.version') -%></th>
        <th>&nbsp;</th>
        <th><%- i18n('store.plugin.author') -%></th>
        <th><%- i18n('store.plugin.tags') -%></th>
        <th><%- i18n('store.plugin.description') -%></th>
        <th>&nbsp;</th>
      </tr>
      <% var counter = 1; %>
	    <% for(var key in marketplace){ %>
	    <% var plugin = marketplace[key]; %>
	    
	    <% if (SARAH.Marketplace.filter(key, plugin, req.query.search)){ %>
	    <tr>
	      <td class="nowrap fit text-right"><%- counter++ -%>.</td>
	      <td class="text-capital"><strong><%- key -%></strong></td>
	      <td class="text-center fit"><%- plugin.v -%></td>
	      <td class="nowrap fit"><a class="btn btn-default btn-xs" title="<%- i18n('store.plugin.download') -%>" href="<%= plugin.dl %>" ><span class="glyphicon glyphicon-cloud-download"></span></a></td>
	      <td class="nowrap"><a href="/portal/store?search=<%- plugin.author -%>"><%- plugin.author -%></a></td>
	      <td><%- plugin.tags -%></td>
	      <td><%- plugin.description -%></td>
	      <td class="fit">
	        <% if (!SARAH.PluginManager.exists(key)){ %>
	        <form action='/portal/store' method='post' role="form" accept-charset="UTF-8" enctype="multipart/form-data">
	          <button type="submit" class="btn btn-primary" name="opInstall" value="<%- key -%>"><%- i18n("store.plugin.install") -%></button>
	        </form>
	        <% } %>
	      </td>
	    </tr>
	    <% }} %>
	  </table>
	  </div>
	  
	  <!-- TAB GITHUB -->
	  <div class="tab-pane" id="github">
	    <div class="alert alert-info" role="alert"><%- i18n(req.query.msg || 'store.alert.github') -%></div>
	    <form class="form-horizontal" method="POST" action="/portal/store" role="form" accept-charset="UTF-8" enctype="multipart/form-data">
	      
	      <%- partial('../layout/field.ejs', { field: { 'name': 'name', 'label': 'store.github.name','value' : '' }}) -%>
	      <%- partial('../layout/field.ejs', { field: { 'name': 'url',  'label': 'store.github.url', 'value' : '' }}) -%>
	      
	      <div class="form-group">
          <div class="col-md-8 col-md-offset-3">
            <button type="submit" class="btn btn-primary" name="opGitClone" value="true"><%- i18n('store.github.clone') -%></button>
          </div>
        </div>
	    </form>
	  </div>
	  
	  <!-- TAB NEW -->
	  <div class="tab-pane" id="new">
	    <div class="alert alert-info" role="alert"><%- i18n(req.query.msg || 'store.alert.new-plugin') -%></div>
	    <form class="form-horizontal" method="POST" action="/portal/store" role="form" accept-charset="UTF-8" enctype="multipart/form-data">
				<%- partial('../layout/field.ejs', { field: { 'name' : 'name',        'label' : 'store.new.name',        'value' : ''    }}) -%>
				<%- partial('../layout/field.ejs', { field: { 'name' : 'description', 'label' : 'store.new.description', 'value' : ''    }}) -%>
				<div class="form-group">
          <div class="col-md-8 col-md-offset-3">
            <button type="submit" class="btn btn-primary" name="opCreate" value="true"><%- i18n('store.new.create') -%></button>
          </div>
        </div>
			</form>
	  </div>
	</div>

</div>